html{
    box-sizing: border-box;
}
*,*::before,*::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
}
.header {
    position: absolute;
    width: 100%;
}
.wrapper{
    max-width: 1600px;
    margin: 0 auto;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 37%;
    margin: 0 auto;
    padding-top: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #ffffff;
}
.intro {
    height: 100vh;
    background: url(img/bg-image.jpg) no-repeat center;
    background-size: cover;
    padding-top: 180px;
}
.navLogo a {
    text-decoration: none;
    width: 38px;
    height: 20px;
    color: #ffffff;
    opacity: 50%;
}
.navLogo a:hover {
    opacity: 100%;
}
.header__logo {
    width: 44px;
    height: 44px;
}
.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}
.tittle {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    align-items: center;
    text-align: center;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    margin: 0;
    color: #FFFFFF;
}
.intro__subtittle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    max-width: 504px;
    color: #FFFFFF;
}
.getStart {
    cursor: pointer;
    padding: 15px, 47px;
    width: 184px;
    height: 46px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    background: #00AFDB;
    border: 0;
}
.getStart:hover, .getStart:focus, .getStart:active {
    background: #007a98;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 150px;
    width: 170px;
    height: 20px;
}
.socialLogo {
  background-color: transparent;
  opacity: 50%;
  border: 0;
}
.socialLogo:hover {
    opacity: 100%;
}
.section2 {
    display: flex;
    height: 800px;
    background:  #FFFFFF no-repeat center;
    background-size: cover;

}
.section2Wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    height: 100%;
    margin: 0 auto;
}
.section2Tittle {
    width: 367px;
    height: 57px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
}
.section2Intro {
    width: 407px;
    height: 80px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #4E4E4E;
}
.section3 {
    display: flex;
    height: 504px;
    background:  #FFFFFF no-repeat center;
    background-size: cover;

}
.textSection3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.section3Wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 100%;
    margin: 0 auto;
}
.section3Intro {
    width: 298px;
    height: 80px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #4E4E4E;
}
.section3Tittle {
    width: 160px;
    height: 20px;
    font-family: Roboto;
    font-style: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #373737;

}

.slider {
    width: 407px;
    height: 244px;
    overflow:hidden;    
}
.navigation {
    position: relative;
    bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

} 
.bar {
    height: 8px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background-color: black;
    opacity: 50%;
    border-radius: 10px;
    transition: all .4s ease;
}  
.bar:hover {
    opacity: 100%;
    transform: scale(1.1);
}
input[name="r"] {
    position: absolute;
    visibility: hidden;
}
.slides {
    width: 200%;
    height: 100%;
    display: flex;
}
.slide {
    width: 50%;
    transition: all .6s ease;
}
.slide img {
    width: 100%;
    height: 100%;
}  
#r1:checked ~ .s1 {
    margin-left: 0;
}
#r2:checked ~ .s1 {
    margin-left: -50%;
}
.section4Wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    height: 100%;
    margin: 0 auto;
}
.section4 {
    display: flex;
    height: 842px;
    background:  #FFFFFF no-repeat center;
    background-size: cover;
}
.textSection4 {
    display: flex;
    flex-direction: column;
}
.section4Tittle {
    width: 298px;
    height: 28px;
    font-family: Roboto;
    font-size: 24px;
    line-height: 28px;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
}
.section4Intro {
    width: 407px;
    height: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #4E4E4E;
}
.section5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 524px;
    background: url(img/section5Background.png) no-repeat center;
    background-size: cover;
}
.searchSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.section5Input {
    width: 340px;
    height: 46px;
    border: none;
}
.section5button {
    width: 66px;
    height: 46px;
    border: none;
    background: #00AFDB;
    cursor: pointer;
}
.section5button:hover, .section5button:focus, .section5button:active {
    background: #007a98;
}
.section5Tittle {
    margin: 0 auto;
    width: 480px;
    height: 28px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section6 {
    height: 464px;
    background:  #FFFFFF no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.section6Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section6Tittle {
    width: 350px;
    height: 28px;
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
}
.section6Intro {
    width: 480px;
    height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    align-items: center;
    text-align: center;
    color: #4E4E4E;
}
.section6Button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}
.AppleStore {
    cursor: pointer;
    padding: 15px, 47px;
    width: 127px;
    height: 46px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    background: #00AFDB;
    border: 0;
}
.AppleLogo {
    width: 59px;
    height: 46px;
    border: none;
    background: #009CC2;
}
.PlayMarket {
    cursor: pointer;
    padding: 15px, 47px;
    width: 127px;
    height: 46px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    background: #00AFDB;
    border: 0;
}
.AndroidLogo {
    width: 59px;
    height: 46px;
    border: none;
    background: #009CC2;
}
.AppleButton {
    display: flex;

}
.AndroidButton {
    display: flex;
    justify-content: flex-end;
}



